node_modules
client/node_modules
server/node_modules
client/dist
server/public
.git
.gitignore
.env
client/.env
server/.env
mongo_data
data/db
.code-workspace
.vscode
.idea
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
